* { box-sizing: border-box; }
html, body {
  margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;
  background-color: #282828;
}
body { }
canvas { display: none; position: fixed; top: 32px; left: 32px; }
canvas#c { background-color: black; }
canvas#d { background-color: transparent; }
p.note {
  position: fixed; top: 10px; left: 10px; z-index: 1; padding: 10px; margin: 0;
  font-family: sans-serif; color: #ccc;
  background-color: #000748aa;
}